@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: rgb(255, 255, 255);
    color:#444;
}


.col .make-appointment{
    border-radius: 70px;
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;

    background-color: #007bff;
    border-color: transparent;
    color: whitesmoke;
}

.col .make-appointment:hover{
    background-color: #0062cc;
    border-color: transparent;
    color: whitesmoke;
}


.btn mt-5{
    margin-left: 20px;
    margin-right: 20px;
}
a:hover {
    color: transparent;
}
 /* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
}
.carousel-control{
    position: absolute;
    top: 50px;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-prev-icon-color,
.carousel-control-next-icon-color {
  height: 100px;
  width: 100px;
  outline: #551FBD;
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}

.carousel-control-next-icon-color:after
{
  content: '>';
  font-size: 55px;
  color: #551FBD;
}

.carousel-control-prev-icon-color:after {
  content: '<';
  font-size: 55px;
  color: #551FBD;
}
.store-prof-img{
    filter: brightness(70%);
}
.shop-profile-back-icon{
    font-size: 45px;
    color: #f8f9fa;
    opacity: 100;
    margin-top: -100px;
}
.shop-profile-info-icon{
    font-size: 45px;
    color: #f8f9fa;
    opacity: 100;
    margin-top: -50px;
}
.modal-header-info{
    color: #723dbe;
}

.shop-prof-header-content{
    background-color: #723dbe;
    border-color: #723dbe;
    color: #f8f9fa;
}

.make-appointment-button{
    padding-top: 13px;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

/* shop-profile-make-appointment.html */
.make-appointment{
    color: #fff;
    background: #551FBD;
    border-color: transparent;
}

.custom-control{
    font-weight: 600;
    line-height: 33px;
}

.col-sm-x3{
    margin-left: 15px;
}

.modal-footer .row {
    align-items: baseline;
    line-height: 3px;
}

.modal .btn{
    padding-top: 3px;
    padding-bottom: 3px;
}

.modal h5{
    margin-left: 20px;
}


.info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1rem;
    min-height: 30px;
    padding: .5rem;
    position: relative;
    width: 100%;
}
.info-box .info-box-icon {
    border-radius: .25rem;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.875rem;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    width: 70px;
}
.bg-serving {
    background-color: #551FBD;
    color: white;
}

.bg-done {
    background-color:  #473d63;
    color:whitesmoke;
}

.btn-arrow {
    color: #723dbe;
}
